<header class="site-header">
  <div class="header-inner max-w">

    <a class="brand" href="/index.html" title="DatArchi Startseite">
      <div class="logo-container">
        <img src="/partials/icons/trowel.svg" alt="DatArchi Logo" class="logo-icon" />
      </div>
      <div class="brand-text">
        <p class="project-name">DatArchi</p>
        <p class="project-tagline">Digitale Archäologie</p>
      </div>
    </a>

    <div class="header-right-container">
        <div class="header-static-controls">
            <button id="theme-toggle" class="btn btn-icon" title="Toggle theme" aria-label="Toggle theme">
              <img src="/partials/icons/sun.svg" alt="Light mode" class="sun header-icon" />
              <img src="/partials/icons/moon.svg" alt="Dark mode" class="moon header-icon" />
            </button>
        </div>

        <input id="navToggle" class="nav-toggle" type="checkbox" aria-hidden="true">
        <label for="navToggle" class="nav-toggle-label" aria-hidden="true">
          <img src="/partials/icons/menu.svg" alt="Menu" class="header-icon nav-icon-menu" />
          <img src="/partials/icons/arrow-down.svg" alt="Close" class="header-icon nav-icon-clear" />
        </label>

        <div class="header-menu">
          <nav class="header-nav" id="mainNav" aria-label="Hauptnavigation">
            <a href="/index.html" class="nav-link">Start</a>
            <a href="/pages/map/index.html" class="nav-link">Karte</a>
            <a href="/pages/funde/index.html" class="nav-link">Funde</a>
          </nav>

          <div class="header-controls">
            <a href="/pages/funde/eingeben.html" class="btn btn-primary btn-sm">Fund erfassen</a>
          </div>
        </div>
    </div>

  </div>
</header>
